<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All groups" parallel="classes" thread-count="2">
  <test verbose="2" name="GRP-TimeTab">
    
    <classes>
		<!-- practicing git -->
      <!-- class name="com.practice.automation.advance.TestNGFirst"/-->
      <class name="com.practice.automation.advance.BasicTest1WD" />
      <class name="com.practice.automation.advance.TransTest1WD"/>
      
    </classes>
  </test>
</suite> 
